
:root{
    --primary-text-color: #141414;
    --secondary-text-color: #FBFDFB;

    --primary-Homebg-color: #FBFDFB;
    --secondary-Homebg-color: #141414;


    --primary-Sliderbg-color: #f5f5f5;
    --secondary-Sliderbg-color: #1A1A1A;


    --primary-BG-color: #8DB7DC;
    --secondary-BG-color: #16DB4C;

    --primary-Button-color: #669ed1;
    --secondary-Button-color: #39EB6A;

    --primary-RegLog-BG-color: rgba(255, 255, 255, 0.6);
    --secondary-RegLog-BG-color: rgba(20, 20, 20, 0.6);
}

@media (prefers-color-scheme: dark){
.dark-theme{
    --primary-text-color: #FBFDFB;
    --secondary-text-color: #141414;

    --primary-Homebg-color: #141414;
    --secondary-Homebg-color: #FBFDFB;

    /* Slider */
    --primary-Sliderbg-color: #1A1A1A;
    --secondary-Sliderbg-color: #f5f5f5;

    --primary-BG-color: #16DB4C;
    --secondary-BG-color: #8DB7DC;

    --primary-Button-color: #39EB6A;
    --secondary-Button-color: #669ed1;

    --primary-RegLog-BG-color: rgba(20, 20, 20, 0.6);
    --secondary-RegLog-BG-color: rgba(255, 255, 255, 0.6);
}
}
